body {
    background-color:rgb(241, 235, 215);
    font-family: "Courier New", Helvetica, monospace;
}

h1{
    text-align: center;

}
.banner{
    width: max-content;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    padding: 120px;

}
.home{
    color:saddlebrown;
    margin-bottom: 40px;

}

.list {
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    text-align: center;
    margin: 20px auto;
    border: 20px double rgba(139, 69, 19, 0.644);
    padding: 50px;
    list-style: none;
    font-size: 24px;
}

.items{
    margin: 29px;
}

.pesto{
    color: rgb(107, 107, 0);
    background-color: rgba(128, 128, 0, 0.226);
}

.burger{
    background-color: rgba(158, 152, 146, 0.137);
    color: rgb(44, 43, 43);
}

.cookie{
    color:rgb(95, 49, 12);
}
